body{
    background: url(../images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: khaki;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 5% 5% auto 5%;
    justify-content: center;
    align-items: center;
}
.box{
    
    padding: 3% 10% 30%;
    background-color: rgba(240, 230, 140, 0.733);
}
.last-seconds{
    color: red;
}
.correct{
    color: rgb(3, 190, 3);
}
.incorrect{
    color: red;
}